body{
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    /* 180deg = 180 graus - RGBA = Red, Green, Blue, Alpha = Transparência */
    /* 82.08% = Vai aparecer em 82.08% da tela, e os outro 100% da tela. */

    
}

.page{
    width: 1000px;
    margin: 65px auto 0;
    
}

nav{
    display: flex;
    justify-content: space-between; /* Vai haver uma espaço entre o header e UL! between = um em cada canto.  */
    align-items: center; /* Alinhamento central.  */

    margin-bottom: 58px; /* Do header para o Hero, a uma margem de 58px */

}

ul{
    list-style: none;
    display: flex; /* Coloca um ao lado do outro */
    gap: 48px; /* Disntância entre as li que tá dentro da ul */
    margin: 0;
    padding: 0;

}

a {
    color: #1F1534;
    text-decoration: none; /* Remove decoração do texto, traços em baixo. */
}

ul li a{
    opacity: 0.5;
}

ul li a:hover {  /* Hover = Sempre que passar o mouse em cima o botão recebe uma nova fonte.*/

    font-weight: bold;
    opacity: 1;
}

h1, ul{
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 49px; /* Tamanho da fonte do H1 */
    line-height: 56px;
    color: #1F1534;
    font-weight: normal;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;
}

section p {
    font-size: 14px; /* Tamanho da fonte */
    line-height: 28px;
    color: #7D7987;

    margin: 40px 0; /* 40 de altura, em cima e em baixo e 0 nas laterais. */
}

button{
    color: #F9F9F9;
    text-transform: uppercase; /* Transforma o texto em caixa alta/maiúsculo. */
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background: #69B99D;
    padding: 14px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    border: none;

    cursor: pointer;

}

button:hover{
    background: #438b72;
}

footer{
    font-size: 14px;
    line-height: 28px;
    text-align: center;

    margin-top: 80px;
}

footer a{
    font-weight: bold;
    
}

#balls{
    position: fixed;
    bottom: 0;
    right: 0;
}